#logo {
position:relative;
width: 100px;
height: 100px;
margin: 0 auto;
top:7px;
left:0px;
margin:10px;
}
#logo .triangle1 {
width: 0px;
height: 0px;
border-left: 50px solid transparent;
border-right: 50px solid transparent;
border-bottom: 87px solid black;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -66%);
z-index:1;
}
#logo .circle1 {
width:83px;
height:83px;
background-color:gold;
border-radius:100%;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index:2;
}
#logo .circle2 {
width:75px;
height:75px;
background-color:black;
border-radius:100%;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index:3;
}
#logo .circle3 {
width:51px;
height:51px;
background-color:gold;
border-radius:100%;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index:4;
}
#logo .eye-dot {
width:10px;
height:10px;
background-color:black;
border-radius:100%;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -160%);
z-index:5;
}
#logo .eye-stem {
width:10px;
height:30px;
background-color:black;
position: absolute;
top: 50%;
left: 50%;
transform: translateX(-50%);
z-index:5;
}
#logo .b-line1 {
width:20px;
height:10px;
background-color:black;
position: absolute;
top: 50px;
left: 23px;
z-index:6;
}
#logo .b-line2 {
width:10px;
height:20px;
background-color:black;
position: absolute;
top: 60px;
left: 33px;
z-index:7;
}
#logo .line1 {
width:3px;
height:50px;
background-color:gold;
position: absolute;
top: 43px;
left: 41px;
z-index:8;
}
#logo .line2 {
width:3px;
height:50px;
background-color:gold;
position: absolute;
top: 43px;
left: 55px;
z-index:9;
}
#logo .mid-line {
width:3px;
height:17px;
background-color:gold;
position: absolute;
top: 10px;
left: 50%;
transform: translateX(-50%);
z-index:5;
}
